﻿<div class="container mt-4">
    <h2>Apply Adding</h2>

    <!-- Button to navigate to the home page -->
    <a asp-controller="Subscription" asp-action="ListSubscriptions" class="btn btn-primary">Go to Subscriptions List Page</a>

    <!-- Button to navigate to the page for adding a new subscription -->
    <a asp-controller="Subscription" asp-action="Create" class="btn btn-success">Add New Subscription</a>
</div>
